<!DOCTYPE html>
<html lang="en">

<head>

  <title>Akash Tripathi</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/3da94fde.css') }}">

<body>

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Project</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
        </ul>

       </nav> 
    
    </div>
  </nav>
</header>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/images/shankh.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Akash Tripathi</h1>
                    <p>Hello Nice people, I am apythhon devloper and machine learning hobbyinst . aprt from python i work as performance test engineer in fintech company</p>

                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:tripaak.akash@gmail.com" title="" class="link-like-text">email</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/akash-tripathi-08a7464b/" title="" class="link-like-text">linkedin</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Akash72459489" title="" class="link-like-text">twitter</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/js/4c6e144e.js"></script></body>

</html>